<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 게시글보기</title>
    <link rel="stylesheet" href="/css/communityDetail.css" />
  </head>
  <body>
    <div class="board_wrap">
      <div class="board_view_wrap">
        <div class="board_view">
          <div class="category">게시판 종류</div>
          <div class="board_view_top">
            <div class="title">글 제목이 들어갑니다.</div>
            <div class="view_like" style="float: left">
              <button class="like_btn">좋아요</button>
            </div>
            <div class="view_btn">
              <a href="commList.html" class="on">목록</a>
              <a href="commUpdate.html">수정</a>
              <a href="#">삭제</a>
            </div>
          </div>
          <div class="cont">
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다<br />
            글 내용이 들어갑니다
          </div>

          <div class="info">
            <dl>
              <dt>작성일</dt>
              <dd>2023 02 17</dd>
            </dl>
            <dl>
              <dt>조회</dt>
              <dd>33</dd>
            </dl>
            <dl class="borad_view_date" style="float: right">
              <dt>김상명</dt>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div class="board_wrap">
      <div class="board_view_wrap">
        <div class="board_view">
          <div class="comment">
            <div class="comment_write">
              <dt class="comment_writer" style="float: left">박상명</dt>
              <dd class="comment_write_detail">
                <input type="text" placeholder=" 댓글을 입력하세요" />
              </dd>
              <dt class="comment_btn">
                <button class="on">댓글 달기</button>
              </dt>
            </div>
          </div>
          <p class="comment_info">n개의 댓글이 있습니다.</p>
          <div class="comment">
            <div class="comment_write">
              <dt class="comment_writer" style="float: left">이상명</dt>
              <dd class="comment_content">
                <p class="comment_text">
                  어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구
                </p>
              </dd>
              <div class="comment_edit_box">
                <dd class="comment_edit" style="float: right">삭제</dd>
                <dd class="comment_edit" style="float: right">수정</dd>
              </div>
              <dd class="comment_date" style="float: right">2023.07.02</dd>
            </div>
          </div>
          <div class="comment">
            <div class="comment_write">
              <dt class="comment_writer" style="float: left">이상명</dt>
              <dd class="comment_content">
                <p class="comment_text">
                  어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구
                </p>
              </dd>
              <div class="comment_edit_box">
                <dd class="comment_edit" style="float: right">삭제</dd>
                <dd class="comment_edit" style="float: right">수정</dd>
              </div>
              <dd class="comment_date" style="float: right">2023.07.02</dd>
            </div>
          </div>
          <div class="comment">
            <div class="comment_write">
              <dt class="comment_writer" style="float: left">이상명</dt>
              <dd class="comment_content">
                <p class="comment_text">
                  어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구어쩌구저쩌구
                </p>
              </dd>
              <div class="comment_edit_box">
                <dd class="comment_edit" style="float: right">삭제</dd>
                <dd class="comment_edit" style="float: right">수정</dd>
              </div>
              <dd class="comment_date" style="float: right">2023.07.02</dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
